.body{
    background-color: rgb(42, 36, 36);
    text-align: center;
    padding: 150px;
}
.header{
    color: skyblue;
    font-size: 50px;
}
.text{
    color: whitesmoke;
    font-size:25px;
}
.button{
    background-color: skyblue;
    padding: 10px;
    font-size: 20px;
}
.link{
    color:skyblue;
    margin-left: 10px;
    font-size: 20px;
}
a:hover{
    color: white;
}
*{
    box-sizing:border-box
  }
  .column {
      float: left;
      padding: 0.5px;
      width: 30%;
  }
  .row{
    padding-top: 100px;
    padding-left: 100px;
  }
  .row:after {
    display:table;
  }
  p{
    margin-top: 30px;
    font-size:17px;
  }
  .div{
    font-family: "Times New Roman", Times, serif;
    color:rgb(174, 171, 171);
    font-size:25px;
  }